.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 18%
    right: 17%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 21%
    right: 41%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 7%
    right: 70%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.bloque-texto-g__img.carimg
  left: 510px
  
@media (max-width: 500px)
  
  .bloque-texto-g__img.carimg 
    left: 0px

.dimesion
   @media (max-width: 500px)
    width: 2%
    margin-left: 25%

.bloque-texto-g__texto
  background-color: #D9EAEA

.bloque-texto-g__texto2
  right: 500px    
  background-color: rgba(255, 255, 255, 0.8)
  position: sticky
  width: 75%

@media (max-width: 500px)
  .bloque-texto-g__texto2
    width: 100%

.imgslider
  background-image: url('../assets/curso/temas/tema1/img3.png')    
  background-repeat: no-repeat
  background-size: cover
  background-position: center 
  border-radius: 45px
  padding: absolute

.bg1
  background-image: url('../assets/curso/temas/tema2/img11.png')  
  background-repeat: no-repeat
  background-size: cover
  border-radius: 50px
  width: 700px

.bg2
  background-image: url('../assets/curso/temas/tema2/img12.png')  
  background-repeat: no-repeat
  background-size: cover
  border-radius: 50px
  width: 700px

.bg3
  background-image: url('../assets/curso/temas/tema2/img13.png')  
  background-repeat: no-repeat
  background-size: cover
  border-radius: 50px
  width: 700px

.bg4
  background-image: url('../assets/curso/temas/tema2/img14.png')  
  background-repeat: no-repeat
  background-size: cover
  border-radius: 50px
  width: 705px

.bg5
  background-image: url('../assets/curso/temas/tema2/img15.png')  
  background-repeat: no-repeat
  background-size: cover
  border-radius: 50px
  width: 705px

.bg9
  width: 500px

.img250
  width: 27em  
  margin-bottom: 27%

.avatar
  position: absolute
  bottom: 0
  right: -4rem
  z-index: 1
  @media (max-width: 1000px)
    display: none

.imgslider2
  background-image: url('../assets/curso/temas/tema2/fondo2.png')    
  background-repeat: no-repeat
  background-size: cover
  background-position: center 
  border-radius: 16px

.slyder-b__img
  border-radius: 0px
  width: 73%
  margin: 4%
  margin-left: 23%
  margin-bottom: 5%

.img300
  width: 80%
  margin-left: 15%

.img3
  width: 62%
  margin-left: 26%


.imgpestanas
  background-color: #FEE3E4

.imgpestana
  background-color: #FEE3E4
  width: 85%
  border-radius: 0px

.imgpestanaborder
  background-color: #FEE3E4
  width: 85%
  border-radius: 0px
  border-top-left-radius: 30px

.imgpestanaborder2
  background-color: #FEC8CA
  width: 85%
  border-radius: 0px
  border-bottom-left-radius: 30px

.imgpestanas2
  background-color: #FEC8CA
  width: 85%
  border-radius: 0px

.lista-ol--cuadro__vineta
  background-color: #FC4B52

.bg8    
  background-color: #64892A

.acordion__accion__btn--a 
  background-color: #A7E446

.tarjeta--amarilla
  background-color: #fff7e0

.imagen-deco
  animation: float1 3.5s ease-in-out infinite alternate
  top: 40%
  right: 50%

.pasos-b__header__btn--left, .pasos-b__header__btn--left:hover
  background-color: #FECA2E
  border-color: #FECA2E


.pasos-b__header__btn--right, .pasos-b__header__btn--right:hover
  background-color: #FECA2E
  border-color: #FECA2E


.pasos-b.color-acento-contenido .pasos-b__header__item--active .pasos-b__header__item__dot 
  border-color: #FECA2E
  background-color: #FECA2E

.pasos-b__header__item--before .pasos-b__header__item__dot, .pasos-b__header__item--before .pasos-b__header__item__line-container:after, .pasos-b__header__item--active .pasos-b__header__item__line-container:before, .pasos-b__header__item--before .pasos-b__header__item__line-container:before
  border-color: #FECA2E
  background-color: #FECA2E

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  border-color: #FECA2E
  background-color: #FECA2E
  position: relative
  top: -10px

.bloque-texto-b.color-acento-contenido:before
    background-color: #E9F8D0
    top: 31%
    bottom: 63px
    left: 30%
    right: 326px

.color-cajon:before
  background-color: #E9F8D0
  top: 50%
  bottom: 36px
  left: 2%
  right: 417px

.bloque-texto-b i
  color: #FC4B52


.color-cajon2:before
  background-color: #E9F8D0
  top: 15%
  bottom: 66px
  left: 21%
  right: 674px

.acordion__activo
  background-color: #FFF7E0

.acordion__activo
  background-color: #F2FBE3

.tabs-a__tab
  background-color: #E8E8E8


/* AB */
.text-right
  text-align: right

@media (min-width: $bp-min-xxl)
  .img-infografica.tema5 .img-infografica__card
    width: 550px
  
@media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
  .bg1
    background-image: url('../assets/curso/temas/tema2/img11.png')  
    background-repeat: no-repeat
    background-size: cover
    border-radius: 50px
    width: 600px 

  .bg2
    background-image: url('../assets/curso/temas/tema2/img12.png')  
    background-repeat: no-repeat
    background-size: cover
    border-radius: 50px
    width: 600px 

  .bg3
    background-image: url('../assets/curso/temas/tema2/img13.png')  
    background-repeat: no-repeat
    background-size: cover
    border-radius: 50px
    width: 600px 

  .bg4
    background-image: url('../assets/curso/temas/tema2/img14.png')  
    background-repeat: no-repeat
    background-size: cover
    border-radius: 50px
    width: 600px

  .bg5
    background-image: url('../assets/curso/temas/tema2/img15.png')  
    background-repeat: no-repeat
    background-size: cover
    border-radius: 50px
    width: 600px  

  .img250
    width: 22em 

  .img-infografica.tema5 .img-infografica__card
    width: 500px  